@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&display=swap');
@import "vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: $black_background;
    //background-color: rgb(210, 210, 210);
}

#gameBoard {
    max-width: 43.75rem;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 1rem;

    .card {
        width: 9.3rem;
        height: 9.3rem;
        position: relative;


        transform-style: preserve-3d;
        transition: transform .5s;
    }

    .card-back,
    .card-front {
        width: 100%;
        height: 100%;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 1.2rem;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .45);

        backface-visibility: hidden;
    }

    .flip {
        transform: rotateY(180deg);
    }

    .card-front {
        transform: rotateY(180deg);
        background-color: $black;
    }

    .card-back {
        color: $black;
        background-color: $color_principal;

        cursor: pointer;

        font-size: 1.8rem;
    }
}

#gamerOver {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .9);

    color: $white_text;
    font-size: 2.5rem;
}

#restart {
    margin-top: 3rem;
    padding: 1.2rem;

    font-size: 1.2rem;
    color: $white_text;

    background-color: $background_button;
    border: none;
    border: 1px solid $purle_dark;
    border-radius: .8rem;

    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, .8);
        border: 1px solid $white_text;

        color: #8a2be8;
        
    }
}