$black_background: #121214;
$black: #15181F;
$white_text: #c7c7c7;
$background_button: #892ae2c4;
$color_principal: #8a2be8;
$purle_dark: #6317a9;

$orange: #EE9430;
$brown: #2B0E11;
$yellow: #ECC839;